@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
body {
    font-family: 'Libre Baskerville', serif;
}


.header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2F4F4F;
  color: white;
}
.head1{
    display: flex;
    align-items: center;
    gap: 30px;
}
.head1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.head1in{
    width: 500px;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 20px;
}
.head1in input{
    width: 400px;
    outline: none;
    border: none;
}
.head2{
    display: flex;
    gap: 30px;
}
.head2in a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 550;
}
.head2in a.active{
    color: #FFA0A0;
}
.headcart a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 550;
}
.headcart{
    position: relative;
}
.headcart a.active{
    color: #FFA0A0;
}
.hdct{
  position: absolute;
  top: -50%;left: 50px;

  width: 20px;
  height: 20px;
  background-color: white;
  color: #FFA0A0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2{
    width: 80%;
    margin: 40px auto;
    text-align: center;
    position: relative;
}
.bl{
    background-color: rgb(15, 11, 11);
    height: 3px;
}
.head3{
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
}
.head3in a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 550;
}
.head3in a.active{
    color: red;
}
.head3i a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 550;
}
.head3i {
    position: relative;
    display: inline-block;
}
.head3ins a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 550;
}

.hove{
    width: 300px;
    font-size: 20px;
    height: 160px;
    background-color: white;
    position: absolute;
    color: black;
    border: 1px solid;
    top: 50px; left: -120px;
    display: none;
}
.head3i:hover .hove{
    display: block;
    z-index:100;
}
.hove1{
    font-size: 18px;
    text-align: start;
    background-color: white;
    position: absolute;
    color: black;
    border: 1px solid;
    top: 50px; left: 0px;
    display: none;
    gap: 30px;
}
.head3ins:hover .hove1{
    display: flex;
    z-index:100;
    
}
.back{
    position: absolute;
    font-size: 25px;
    left: -100px;
}
.back a{
    text-decoration: none;
    color: black;
}







/* home */



.sliderout{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

/* moving container */
.slides{
    display: flex;
    width: 400%;
    animation: slideX 12s infinite;
}

/* each slide */
.slide{
    width: 100%;
    position: relative;
}

.slide img{
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

/* overlay text */
.slid{
    position: absolute;
    top: 160px;
    left: 150px;
    font-size: 26px;
}
.slid1{
    position: absolute;
    top: 160px;
    right: 150px;
    font-size: 26px;
}

.flat{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    width: 300px;
}

.shop{
    background-color: white;
    color: black;
    padding: 15px 40px;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
}

/* animation for 4 slides */
@keyframes slideX{
    0%   {transform: translateX(0);}
    25%  {transform: translateX(0);}

    30%  {transform: translateX(-100vw);}
    50%  {transform: translateX(-100vw);}

    55%  {transform: translateX(-200vw);}
    75%  {transform: translateX(-200vw);}

    80%  {transform: translateX(-300vw);}
    100% {transform: translateX(-300vw);}
}
.dots{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* dot style */
.dots span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.4);
    animation: dotActive 12s infinite;
}

/* delays exactly match slides */
.dots span:nth-child(1){ animation-delay: 0s; }
.dots span:nth-child(2){ animation-delay: 3s; }
.dots span:nth-child(3){ animation-delay: 6s; }
.dots span:nth-child(4){ animation-delay: 9s; }

@keyframes dotActive{
    0%   { background-color: black; }
    25%  { background-color: black; }
    30%  { background-color: rgba(255,255,255,0.4); }
    100% { background-color: rgba(255,255,255,0.4); }
}




.home2{
    text-align: center;
    width: 80%;
    margin: 50px auto;
    font-size: 20px;
}
.homeout h2{
    font-size: 30px;
    text-align: center;
    margin: 40px auto;
}

.home3{
    display: flex;
    gap: 70px;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}
.home3in a{
    color: black;
    text-decoration: none;
}
.home3in img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.home4{
    display: grid;
    grid-template-columns:320px 320px 320px 320px ;
    grid-auto-rows:450px ;
    gap: 50px;
    font-size: 20px;
    justify-content: center;
}
.home4in{
    text-align: center;
}
.home4in img{
    width: 280px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 2px 3px 5px grey;
    margin-bottom: 20px;
}
.home4in p{
    margin: 0px;
}

.gift{
    width: 90%;
    height: 90px;
    padding: 20px;
    border: 1px solid;
    text-align: center;
    margin: 40px auto;
    background-color: #2F4F4F;
    color: white;
    animation: glow 3s ease-in  infinite;
}
@keyframes glow {
    0% {
        background-color: #2F4F4F;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}

.gift h3{
    font-size: 40px;
}








/* Mens */
.men{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 580px;
    gap: 70px;
    justify-content: center;
}
.menin:hover{
    border: 1px solid;
}
.menin img:hover{
    border: 1px solid;
}
.menin{
    box-shadow: 2px 3px 5px grey;
    border-radius: 20px;
    font-size: 20px;
}
.menin img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.menin .bi{
    color: rgb(251, 255, 0);
}
.menin p{
    margin: 5px;
}
.men1{
    display: flex;
    align-items: center;
    margin-top: 15px;  
}
.mencl{
    display: flex;
    align-items: center;
    gap: 10px;
}
.me1{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: black;
}
.me2{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: red;
}
.me4{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(255, 0, 140);
}
.me5{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: brown;
}
.me3{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid;
}
.men2{
    display: flex;
    gap: 30px;
    font-size: 18px;
    margin-top: 20px;
}
.buy:hover{
    background-color: #58c4c4;
}
.add:hover{
    background-color: #58c4c4;
}
.buy{
    width: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
}
.add{
    width: 120px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    padding:5px ;
    background-color: #2F4F4F;
    color: white;
}

.view{
    background-color: #2F4F4F;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 120px;
    margin: 40px 1300px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    font-size: 20px;
}
.fil{
    width: 1000px;
    text-align: start;
    box-shadow: 2px 3px 5px grey;
    padding: 10px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

/* Filter dropdown */
.filterin{
    position: absolute;
    top: 0px;
    left: 100px;

    padding: 15px;
    display: none;
}
.filterin select{
    background-color: grey;
    padding: 10px;
    width: 200px;
}

/* Sort dropdown */
.sort{
    background-color: #2F4F4F;
    color: white;
    padding: 10px 20px;
    position: relative;
    height: 40px;
    cursor: pointer;
    
}
.sort a{
    text-decoration: none;
    color: white;
}
.sortin{
    width: 200px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    display: none;
    padding: 10px 20px;
    box-shadow: 2px 3px 5px grey;
    color: black;
}








/* About */

.about{
    display: flex;
    gap: 100px;
    overflow: hidden;
    margin-left: 100px;
    font-size: 20px;
    line-height: 1.3;
}
.about h2{
    font-size: 40px;
    margin: 25px;
}
.aboutlt{
    width:1000px; 
    text-align: center;
}
.abt img{
    width: 400px;
   height:400px;
   border-radius: 50%;
   margin-left: 300px;
   margin-top: 70px;
   box-shadow: 2px 5px 10px rgb(136, 134, 134);
}
.aboutrt{
    position: relative;
}
.aboutrt img{
    position: absolute;
   width: 600px;
   height:600px;
   border-radius: 50%;
}
.about1{
    width: 70%;
    margin: 50px auto;
    font-size: 18px;
    display: flex;
    gap: 40px;
    text-align: center;
}
.about1 p{
    margin-top: 30px;
}



















/* contact */
.contactout{
    width: 90%;
    margin: 0 auto;
}
.contact{
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 100px;
}
.contactlt h2{
    margin-top: 40px;
}
.contact span{
    text-decoration: underline;
}
.contactrt img{
    width: 850px;
    object-fit: cover;
}
.cont{
    width: 70%;
    margin: 30px auto;
}
.cont label{
    font-size: 20px;
}
.cont .confm input{
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cont textarea{
  width: 80%;
  padding: 50px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cont .lt{
    float: left;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont .lt input{
    width: 80%;
    padding: 10px;
}
.cont .rt input{
    width: 37%;
    padding: 10px;   
}
.cont .rt{
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont button{
    background-color: #2F4F4F;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    width: 150px;
    padding: 15px;
    border: none;
}













/* Log */

.log{
    width: 550px;
    height: 780px;
    border-radius: 30px;
    box-shadow: 2px 3px 5px grey;
    border: 1px solid;
    margin: 70px auto;
    padding: 30px;
    position: relative;
}
.log1{
    display: flex;
    padding: 20px;
    font-size: 22px;
    justify-content: center;
}
.log11 a{
   text-align: center;
   background-color: rgb(163, 161, 161);
   padding: 10px 70px;
}
.log12 a{
   text-align: center;
   background-color: rgb(163, 161, 161);
   padding: 10px 70px;
}
.log1 a{
    text-decoration: none;
    color: black;
}
.log1 a.active{
    background-color: #2F4F4F;
    color: white;
}
.log2{
    margin-left: 70px;
    margin-top: 30px;
    width: 70%;
}
.log2 label{
    font-size: 20px;
    font-weight: 550;
}
.log2 input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.red{
    text-align: end;
    color: red;
}
.log3{
    text-align: center;
    font-size: 20px;
}
.log3 button{
    background-color: #2F4F4F;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    width: 130px;
    padding: 10px;
    border: none;
    margin-bottom:30px ;
}
.log3 a{
    text-decoration: none;
    color: white;
}
.bor{
    padding: 6px;
    font-size: 20px;
    width: 300px;
    margin: 30px auto;
    border: 1px solid;

}
.log3 .red{
    color: red;
}
 
.reg1 input{
width: 60px;
margin: 0px;
}
.reg2 a{
    background-color: #2F4F4F;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 50px;
    margin-bottom:30px ;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px ;
    margin-left: 170px;
}
#reg{
    display: none;
    position: absolute;
    top: 6px;left: 0;
    height: 750px;
    background-color: white;
    border-radius: 30px;
}
#reg:target{
    display: block;
}

.pop{
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 223vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.popin{
    border: 1px solid;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 400px;
}
.popin a{
    background-color: #2F4F4F;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 50px;
    margin-bottom:30px ;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px ;
}
#popup:target{
    display: flex;
}


























/* cart 1 */

.cartout{
   width: 75%;
   margin: 50px auto;
   font-size: 20px;
}
.cartout h2{
    text-align: center;
}
.borde{
    padding: 10px;
    width: 770px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 3px 5px grey;
    text-align: center;
}
.cart{
   display: flex;
   gap: 50px;
   margin-top: 50px;
} 
.cart img{
    width: 200px;
}
.cartin .bo{
    border: 1px solid grey;
    padding: 10px;
}
.cart1{
   display: flex;
justify-content: space-between;
align-items: end;
} 

.car1in{
    color: grey;
}
.cart2{
    width: 70%;
    margin: 50px auto;
}
.cart2 p{
    margin-top: 30px;
}
.cart2in{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    background-color: #2F4F4F;
}
.cart2 a{
    color: white;
    text-decoration: none;
}
.car2in{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
}







/* cart 2 */

.cart2out{
   width: 90%;
   margin: 50px auto;
   font-size: 20px;
   position: relative;
}
.cart2out h2{
    text-align: center;
}

.summary{
    width: 100%;
    height: 1400px;
    display: flex;
}
.sumlt{
    width: 500px;
    color: white;
    padding: 20px;
    font-size: 20px;
    background-color: #2F4F4F;
}
.sumlt h3{
    margin: 40px auto;
}
.sumltin{
    display: flex;
    gap: 20px;
}
.sumltin img{
    width: 150px;
    height: 200px;
border-radius: 20px;
object-fit: cover;
}
.amt{
    display: flex;
    justify-content: space-between;
}
.total{
    text-align: end;
}


.sumrt{
  background-color: rgb(241, 240, 240);
  padding: 30px;
}
.row{
    display: flex;
    gap: 20px;
}

.field{
    flex: 1;
}

.field input{
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
.row1 input{
    width: 95%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.sumrt h4{
    margin-top: 50px;
    margin-bottom: 30px;
}
.row2{
    background-color: white;
    width: 230px;
    padding: 8px;
    margin-top: 30px;
}
.row3{
    display: flex;
    gap: 20px;
    margin: 40px 20px;
}

.row4{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.row4 a{
    display: inline-block;
    text-decoration: none;
}
.row4 .gry{
    padding: 10px 100px;
    background-color: grey;
    border-radius: 10px;
    color: black;
     margin: 30px ;
}
.row4 .blak{
    padding: 10px 80px;
    background-color: #2F4F4F;
    color: white;
    margin: 30px ;
    border-radius: 10px;
}
.order{
   background-color: white;
   border: 2px solid black;
   width: 600px;
   height: 500px;
   border-radius: 20px;
   margin: 70px auto;
   box-shadow: 2px 3px 5px grey;
}

#orderSection{
    display: none;
    text-align: center;
    padding: 60px 0;
}

#checkoutSection{
    display: block;
}

.tick{
    background-color: #2F4F4F;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 50px;
}
.row5 a{
    text-decoration: none;
}
.row5{
    margin-top: 50px;
}
.row5 .b{
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
     margin: 30px ;
     border: 1px solid;
}
.row5 .k{
    padding: 10px 30px;
    background-color: #2F4F4F;
    color: white;
    margin: 30px ;
    border-radius: 10px;
}



/* cart last */

.trackout{
    width: 700px;
    margin: 50px auto;
    border: 1px solid;
    padding: 20px;
    font-size: 20px;
}
.trackout a{
    color: black;
    text-decoration: none;
}
.track1{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: grey;
}
.gre{
    color: gray;
}
.track2{
    background-color: rgb(231, 229, 229);
    font-weight: 600;
}
.tra{
    display: flex;
    gap: 40px;
    margin-left: 70px;
    margin-top: 50px;
    padding: 30px;
}
.grn{
    color: #2F4F4F;
}
.tra1{
    width: 80px;
    height: 80px;
    background-color: #2F4F4F;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    font-size: 38px;
    position: relative;
}
.tra1::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 120px;
    background-color:#2F4F4F;
    top: 80px;
}
.tra4::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 120px;
    border: 3px dotted;
    background-color:#2F4F4F;
    top: 80px;
}

.tra3{
    width: 80px;
    height: 80px;
    background-color: #899797;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    font-size: 38px;
}









/* footer */
footer{
    background-color: #2F4F4F;
    color: white;
    font-size: 16px;
    height: 400px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-top: 40px;
}
.foot1 li{
    margin: -5px;
}
.foot1 p{
    margin: 0px;
}
.foot2 .bi{
    font-size: 20px;
    margin-left: 10px;
}
.foot3 input{
    width: 100%;
    margin-bottom: 30px;
}
.foot3 button{
    color: black;
    border: none;
    width: 150px;
    font-size: 20px;
    background-color: white;
    font-family: bold;
}

